body {
    background-color: #00c9c9;
    color: white;
}

.card {
    background-color: #00c9c9;
    padding: 25px;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.3);
}

h1, h2, h3 {
    color: #38bdf8;
}

.prediction-box {
    background-color: #16a34a;
    color: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
}